$navbar-height: 4.5rem;
$dark: rgb(66, 66, 66);

// Dropdown Menus
$dropdown-item-hover-background-color: $turquoise;
$dropdown-item-hover-color: #fff;
$dropdown-content-shadow: 0 5px 6px rgba($turquoise, 0.2), 0 0 0 1px rgba($turquoise, 1)