body {
	font-family: Open Sans;
}

.landing-logo {
	height: 1rem;
	font-size: 2.2rem;
	& span {
		transform: rotate(180deg);
	}
}

.app-top-bar {
	float: left;
	position: absolute;
	width: 100%;
	height: 4.5rem;
	background: $dark;
}