<template>
	<div class="is-hidden-mobile">
		<img class="app-my-profile" 
			 :class="{'app-my-profile-landing': landing}"
			 src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=40" />
			 <div :class="{'is-active': dropdownOpen}"
			 	  class="dropdown app-my-profile-dropdown"
			 	  @mouseover="dropdownOpen = true"
			 	  @mouseleave="dropdownOpen = false">
			 	<div class="dropdown-trigger">
			 		<button class="button no-hover" 
			 				:class="{'is-dark': !landing}"
			 		        aria-haspopup="true" 
			 		        aria-controls="dropdown-menu">
			 			<span>My DefcAstS</span>
			 			<span class="icon is-small">
			 				<i class="fa fa-css3 has-text-primary"></i>
			 			</span>
			 		</button>
			 	</div>
			 	<div class="dropdown-menu" id="dropdown-menu" role="menu">
			 		<div class="dropdown-content">
			 			<a href="#" class="dropdown-item">
			 				Watchlist
			 			</a>
			 			<a class="dropdown-item">
			 				Favorites
			 			</a>
			 			<a href="#" class="dropdown-item">
			 				Questions
			 			</a>
			 			<a href="#" class="dropdown-item">
			 				Profile
			 			</a>
			 			<hr class="dropdown-divider">
			 			<a href="#" class="dropdown-item">
			 				Settings
			 			</a>
			 			<a href="#" class="dropdown-item">
			 				Logout
			 			</a>
			 		</div>
			 	</div>
			 </div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				dropdownOpen: false
			}
		},
		props: [
			'landing'
		],
		methods: {
			clickDropdown() {
				this.dropdownOpen = !this.dropdownOpen
			}
		}
	}
</script>

<style lang="scss">
	@import "../../../sass/bulma/sass/utilities/initial-variables.sass";

	.app-my-profile {
		border-radius: 50%;
		border: 3px solid #fff;
		margin: .8rem .2rem 0 2rem;
		&-landing {
			border: 3px solid $turquoise;
		}
	}

	.app-my-profile-dropdown {
		margin: 1rem 0 0 0;
		& .button, .button:focus:not(:active), .button.is-focused:not(:active) {
			border: none;
			//background: rgba(0,0,0,0.5);
			box-shadow: none;
		}
	}
</style>