<template>
	<div class="navbar-item">
		<div class="control has-icons-left has-icons-right app-search-input">
			<input class="input is-medium" type="email">
			<span class="icon is-medium is-left">
				<svg viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="is-hidden-mobile" style="width: 30px;"><title>search</title> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="search-icon" fill="#cacaca"><path d="M11.1921711,12.6063847 C10.0235906,13.4815965 8.5723351,14 7,14 C3.13400675,14 0,10.8659932 0,7 C0,3.13400675 3.13400675,0 7,0 C10.8659932,0 14,3.13400675 14,7 C14,8.5723351 13.4815965,10.0235906 12.6063847,11.1921711 L14.0162265,12.6020129 C14.6819842,12.4223519 15.4217116,12.5932845 15.9484049,13.1199778 L18.7795171,15.95109 C19.5598243,16.7313971 19.5646685,17.9916807 18.7781746,18.7781746 C17.997126,19.5592232 16.736965,19.5653921 15.95109,18.7795171 L13.1199778,15.9484049 C12.5960188,15.4244459 12.4217025,14.6840739 12.6018353,14.0160489 L11.1921711,12.6063847 Z M7,12 C9.76142375,12 12,9.76142375 12,7 C12,4.23857625 9.76142375,2 7,2 C4.23857625,2 2,4.23857625 2,7 C2,9.76142375 4.23857625,12 7,12 Z"></path></g></g></svg>
			</span>
			<span class="icon is-large is-right">
				<a class="button is-primary">SEARCH</a>
			</span>
		</div>
	</div>
</template>

<script>
	export default {

	}
</script>

<style lang="scss">
	@import "../../../sass/bulma/sass/utilities/initial-variables.sass";
	.icon svg {
		color: hsl(217, 71%,  53%) !important;
	}

	.app-search-input {
		width: 35rem;
		& input {
			width: 100%;
			height: 2.8rem;
			//box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}

		.icon.is-right {
			margin-right: 1.6rem;
		}

		@media screen and (max-width: 768px) {
			margin: .1rem .5rem .1rem .3rem;
			width: 98%;
		}
	}
</style>